@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.background-parallax {
  position: relative;
  width: 100%;
}

.parallax-sky {
  background-image: url(./assets/images/background.png);
}

.parallax-mountains {
  background-image: url(./assets/images/mountains.png)
}

.parallax-city {
  background-image: url(./assets/images/city.png)
}

.parallax-person {
  background-image: url(./assets/images/foreground.png);
}

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFF;
  opacity: 90%;
  line-height: 0.6;
}

.Navbar-button {
  color: #FFF;
  opacity: 90%;
}

.work-card-logo {
  margin-bottom: 150px;
}